<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".kml"/>
      <remove fileExtension=".gltf"/>
      <remove fileExtension=".glb"/>
      <remove fileExtension=".bgltf"/>
      <mimeMap fileExtension=".woff" mimeType="application/font"/>
      <mimeMap fileExtension=".kml" mimeType="application/google-earth"/>
      <mimeMap fileExtension=".gltf" mimeType="application/gltf"/>
      <mimeMap fileExtension=".glb" mimeType="application/glb"/>
      <mimeMap fileExtension=".bgltf" mimeType="application/bgltf"/>
      <remove fileExtension=".b3dm"/>
      <mimeMap fileExtension=".b3dm" mimeType="application/octet-stream"/>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00"/>
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <add value="TerraExplorer.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
  </system.web>
</configuration>